<div class="head">
<br>
<div class="hea">
<h2>
    About Simply Recipes
</h2>
</div>
<br>
<div class="an">
    <a class="aaa"  *ngFor="let a of Anchors" href="AboutUs#{{a.substring(0)}}">{{a}}</a>    
</div>
<div>
    <br><br>
    <div id="WHO WE ARE"  class="para"> 
 
        <h3>Who We Are</h3>

         Recipes website was founded in 2024 by Hassan Kraira as a home cooking blog to record her favorite family recipes. Today, Simply Recipes has grown into a trusted resource for home cooks with more than 30 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a diverse group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.
    </div>
</div>
<br><br>
<div id="COMMENTS"  class="para"> 
 
    <h3>Comments</h3>

    
    We review and approve every comment left on the site, and generally respond to questions within 1 to 3 days. When leaving comments, we ask that you think of Simply Recipes as our home. Constructive feedback is always welcome, but rude, mean, disrespectful, or spammy comments are not welcome and will not be approved.
</div>
<br><br>
<div id="PRODUCT REVIEWS"  class="para"> 
 
    <h3>Product Reviews</h3>
    Our product reviews and recommendations are independent and based on extensive research and product testing. If you visit links within our content, we may receive commissions from your purchases.

</div>
<br><br>
<div id="CONTACT US"  class="para"> 
 
    <h3>Contact Us</h3>
    Have something you’d like to let us know? Whether you have a comment on a recipe or an idea to share, we would love to hear from you: <a onclick="return false;" href=" ">krairahassan&#64;gmail.com</a>
    
   
</div>
<br><br>
<div id="WORK WITH US"  class="para"> 
 
    <h3>Work With Us</h3>
    Join our team of top-notch editors, designers, marketers, and others as we continue to make a difference every day in the lives of Simply Recipes readers.
    <br>
   <a onclick="return false;" href="">View job openings</a>
    
    

</div>

<br><br>
<div id="WRITE FOR US"  class="para"> 
 
    <h3>Write for Us</h3>
    We are always on the lookout for new expert voices to join our team of recipe developers and writers. 
    Please submit pitches along with three examples 
    of your published work (print or online) and a brief bio to 
    <a onclick="return false;" href=""> write&#64;Recipes.com.</a>
    
    

</div>

<br><br>
<div id="ADVERTISE WITH US"  class="para"> 
 
    <h3>Advertise With Us</h3>
    
    Simply Recipes offers the highest value to advertisers through a combination of scale, credibility, and intent. Interested in advertising with us? Email us at     <a onclick="return false;" href=""> write&#64;Recipes.com.</a>
    or check out our media kit to learn more.
    
    

</div>
<br><br><br>

</div>




