 <h1 id="top">Welcome to Recipes</h1> 
    <h2>{{ff?.foodName}}
      <h6>
        <br><br>
        <p>
            {{ff?.defeculty}}
        </p>
        <p>
     
            {{ff?.totalTime}}
        </p>
      </h6>
    </h2>
<div>
<img class="img" src=".{{ff?.foodImageUrl}}" alt="">
</div>
<br>
<div class="description">
    <p>
{{ff?.foodRecipeDescription}}
</p>
</div>
<div>
<div class="INGREDIENTS">
    <h3>
        INGREDIENTS : 
    </h3>
    <li *ngFor="let i of ff?.INGREDIENTS">{{i}}</li>
    </div>
</div>
<div class="PREPARATION">
    <h3>PREPARATION</h3>
  <li *ngFor="let p of ff?.PREPARATIONSteps,let i =index">
     <b style="font-size: 25px;">step {{i+1}}</b>
    <br>
    <p>
    {{p}}
    </p>   
</li>
</div>
<br><br>
<br><br><br><br><br><br>