.aax{
    margin-left: 30%;
}
.borer{
    border-radius: 9px;
    text-align: center;
    margin-top: 15%;
    height: 297px;
}
.img{
    height: 34%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent;
    max-width: 100%;
    margin-top: 10%;

}

.head{   
    margin-top: 5%;
    width: 65%;
    margin-left: 15%
}
.hed{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}


.grid-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure items stay in the same row */
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Adjust the gap between grid items */

}

.grid-container > * {
    flex: 0 0 auto; /* Ensure items don't grow or shrink */
    width: 20%; /* Adjust the width of each item */
    margin-top: 15px;
    align-items: center;
}

  .aa{
    align-items: center;
    background-color: #10045c;
    border-color: #0000;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.727273px;
    color: #fff;
    display: flex;
    font-family: system-ui;
    justify-content: center;
    line-height: 24px;
    padding: 6px 12px;
    text-align: center;
    margin-left: 11%;
    width: 93.4776px;
    transform: translate(210.182px, -32.4545px);
    height: 34.6136px;
}


.grid-container-buttons{
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.slected{
    background-color:blue;
    color:white
}
.asdf{
    position: absolute;
    margin-top: 10%;
    width: 327px;
    left: 294px;
    padding: 24px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: white;
}
@media (max-width:1080px) {
    .aax{
        margin-left: 10%;
    }
}