.nave{
    background-image: linear-gradient(to right, blue, black);
    margin-top: 3px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 10px;
}
.bbtn{
    color:rgb(255, 255, 255);
    font-size: 150%;
    
}
.bbtn:hover{
    background-color: black;
}
.aa{
    background-color: black;

}
@media (max-width:1080px) {
    .nave{
        background-image: linear-gradient(to right, blue, black);
        margin-top: 3px;
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
        border-radius: 10px;   
    }
}
